{% extends "base.html" %}

{% block content %}



    <div>
        <form id="file-form" action="/analitica/<file>">
        <select id="file-select" name="file">
                {% for file in files %}
                    <option value={{file.title}}> {{file.title}} </option>
                {% endfor %}
            </select>
            <button type="submit">Выбрать файл</button>
        </form>
    </div>

    <div class="chart-container">
        <div class="chart">
            <img src="{{ url_for('static', filename='diagram.png') }} " class="center-image">
        </div>
        <div class="chart">
            <img src="{{ url_for('static', filename='circular.png') }}" class="center-image">
        </div>
    </div>

    <div>
        <table border="" width="100%" cellpadding="5">
            <tbody>
               <tr>
                   {% for item in data[0] %}
                        <th scope="col">{{ item }}</th>
                   {% endfor %}
               </tr>
            </tbody>
            <tbody>
               {% for line in data[1:] %}
               <tr>
                   <th scope="row"> {{ line[0] }} </th>

                   {% for item in line[1:] %}
                        <td> {{ item }} </td>
                   {% endfor %}

               </tr>
               {% endfor %}
            </tbody>

     </table>
    </div>

{% endblock %}